form
  width: 100%
  @include medium
    width: 60%
  @include large
    width: 50%
  #appbundle_contact
    & > div
      margin: 2rem 0 0 0
      &:nth-child(1),
      &:nth-child(2)
        width: 50%
        display: inline-block
        margin: 0
      &:nth-child(1)
        padding: 0 25px 0 0
      &:last-child
        display: none
        opacity: 0

  .input-group
      margin: 2rem 0 0 0

  .form__label,
  .form__input,
  .form__textarea,
  .container__form__input input,
  .container__form__input select
    color: $gray-base
    display: block
  .form__input,
  .form__textarea,
  .container__form__input input,
  .container__form__input select
    font-size: 0.8rem
    width: 100%
    min-height: 3rem
    height: 3rem
    border-radius: 3px
    border: solid 1px #a3b4bc
    background: $gray
    padding: 0 1.1rem
    margin: 1.125rem 0 0 0

  .form__input,
  .container__form__input input,
  .container__form__input select
    line-height: 3rem

  #appbundle_contact_callAt_time
    display: flex
    align-items: center
    justify-content: space-between
    padding: 1.125rem 0 0 0
    @include medium
      display: block

  .container__form__input select
    width: 45%
    display: inline-block
    margin-top: 0
    margin-right: 10px
    @include medium
      width: 25%
    &:nth-child(2)
      margin-left: 10px
      margin-right: 0
  .form__textarea
    min-height: 9rem
    height: 9rem
    resize: none
    padding: 1rem 1.1rem

  .form__submit
    float: right
    border: 0
    cursor: pointer
    margin: 4rem 0 0 0
    &:focus
      outline: none



.form-group
  height: 0
  max-height: 0
  overflow: hidden
  &.active
    animation: openFormGroup 0.4s cubic-bezier(0.4, 0.0, 0.2, 1) forwards
  &.close
    animation: closeFormGroup 0.2s cubic-bezier(0.4, 0.0, 0.2, 1) forwards

.optional
  &:after
    content: " (optionnel)"
    font-size: 0.8rem


textarea:focus,
input:focus,
input[type]:focus,
.uneditable-input:focus
  border: 1px solid $brand-primary
  box-shadow: 0 1px 1px rgba($brand-primary, 0.075) inset, 0 0 8px rgba($brand-primary, 0.6)
  outline: 0 none


//////////////////////////
///// Custom Checkbox ////
/////////////////////////

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked
  position: absolute
  left: -9999px

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label
  position: relative
  padding-left: 1.95em
  cursor: pointer


[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before
  content: ''
  position: absolute
  left: 0
  top: 0
  width: 1.25em
  height: 1.25em
  border: 2px solid #ccc
  background: #fff
  border-radius: 4px
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1)


[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after
  content: '✔'
  position: absolute
  top: .15em
  left: .25em
  font-size: 1.1em
  line-height: 0.8
  color: $brand-primary
  transition: all .2s


[type="checkbox"]:not(:checked) + label:after
  opacity: 0
  transform: scale(0)

[type="checkbox"]:checked + label:after
  opacity: 1
  transform: scale(1)


/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before
  border: 1px solid lighten($brand-primary, 20%)

