.header
  width: 100vw
  position: absolute
  height: 97vh


.header_menu--link
  position: absolute
  width: 100vw
  display: flex
  flex-flow: row wrap
  justify-content: space-around
  bottom: 0
  background: #FFFFFF

.header-logo
  @include absolutePosition(1.4rem, 1.4rem, 0, 0)




