.section
  position: relative

.section__landing-spacer
  height: 100vh
  padding: 0

.section__landing
  width: 100vw
  display: flex
  flex-flow: row wrap
  padding: 245px 30px 0 30px
  @include large
    padding: 200px 90px 50px 0
    justify-content: space-around

.section_img
  position: absolute
  top: 115px
  left: 50%
  z-index: -1
  @include large
    position: initial
    display: flex
    width: 38vw

.landing__img
  position: relative
  left: -50%
  height: 225px
  @include large
    position: initial
    height: 435px

.landing__text--holder
  width: 100%
  @include large
    width: 40vw

.landing__title
  margin: 20px 0 30px 0
  text-align: center
  @include font-size(1.6875rem)
  @include medium
    text-align: left

.landing__text
  text-align: center
  display: block
  margin-bottom: 60px
  @include medium
    text-align: left



.section__numbers--holder
  background: #ffffff
  padding: 100px 37.5px 0

.section__numbers
  width: 100vw
  display: flex
  @include large
    padding: 100px 0 50px 0


.numbers__text
  position: relative
  z-index: 1
  width: 100%
  display: block
  @include large
    width: 45vw
    display: flex
    flex-direction: column
    justify-content: space-around

.numbers__title
  width: 100%
  margin: 0 0 75px 0
  @include font-size(1.6875rem)
  @include medium
    width: 30vw
  @include large
    margin: 0 0 110px 0

.numbers__holder
  display: flex
  flex-flow: row wrap
  max-width: 490px
  width: 100%
  justify-content: space-between


.numbersContainer
  margin: 0 0 15px 0
  width: 40%
  @include large

    margin: 0 0 65px 0

.number
  font-weight: 700
  color: $grey
  padding: 0 0 25px 0
  display: block

.number__description
  color: $grey
  font-size: 0.667rem
  font-family: 'Open Sans', sans-serif
  font-weight: light

.numbers__img
  position: absolute
  opacity: .3
  top: 200px
  right: 0
  z-index: 0
  @include large
    position: initial
    width: 45vw
    display: flex
    opacity: 1
    justify-content: center
    align-items: center

.numbers--img
  height: 210px
  @include large
    height: 315px


