<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="./assets/dist/css/style.min.css">
    </head>
    <body>
    {% block header %}
    {% endblock %}
        <div class="container">
            {% block body %}
            {% endblock %}
        </div>
        {% block javascripts %}{% endblock %}

        <script src="./assets/dist/js/bundle.js"></script>
    </body>
</html>
