<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    {#<link rel="stylesheet" href="https://d2bmpzuwfx796e.cloudfront.net/css/style.min.css.gz">#}
    <link rel="stylesheet" href="{{ asset('assets/dist/css/style.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css">

</head>
<body>
<header class="header header--container">
    {#Add LOGO#}
    <img class="header-logo" src="{{ asset('assets/dist/img/logo-home.png') }}" alt="logo">
    <ul class="header_menu--link">
        <li class="header--menu"><a class="header--menu-link .js-scrollAnchor" href="#home">Allez vers le bas pour découvrir U&D</a></li>
        <li class="header--menu"><a class="header--menu-link" href="#home">menu</a></li>
        <li class="header--menu"><a class="header--menu-link" href="#home">menu</a></li>
        <li class="header--menu"><a class="header--menu-link" href="#home">menu</a></li>
        <li class="header--menu"><a class="header--menu-link" href="#home">menu</a></li>
    </ul>
</header>
<div class="container">
    <section class="section section__landing">
        <div class="landing__text">
            <h1>A Visual Type Scale</h1>
            <p>
                Sed hendrerit suscipit cursus. In lorem leo, vehicula et dictum nec, pellentesque sed orci.
                Duis quis ullamcorper tortor. Donec non varius elit. Integer id leo semper
            </p>
            <a class="landing__cta" href="#contact">Rentrons en contact</a>
        </div>
        <img class="landing__img"
             src="http://gallery.yopriceville.com/var/albums/Free-Clipart-Pictures/Cartoons-PNG/SpongeBob_PNG_Picture.png?m=1435580698"
             alt="batiment décoration">
    </section>
    <section class="section section__landing">
        <p class="landing__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Aspernatur dignissimos omnis porro possimus quasi reprehenderit repudiandae voluptatibus.
            Ad commodi eveniet ex incidunt magnam molestiae, nostrum officia saepe sit totam, veniam.
        </p>
        <img class="landing__img" id="home"
             src="http://gallery.yopriceville.com/var/albums/Free-Clipart-Pictures/Cartoons-PNG/SpongeBob_PNG_Picture.png?m=1435580698"
             alt="batiment décoration">
    </section>
    {% block body %}
    {% endblock %}
</div>
{% block javascripts %}{% endblock %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js"></script>
<script src="{{ asset('assets/dist/js/bundle.js') }}"></script>
{#<script src="https://d2bmpzuwfx796e.cloudfront.net/js/bundle.js.gz"></script>#}
</body>
</html>
