{% extends 'base_admin.html.twig' %}

{% block body %}

    <h1>Boite de récéption</h1>
    {% for contact in contacts %}
        <div class="tile">
            <div class="tile-icon">
                <div class="example-tile-icon">
                    <i class="icon icon-file centered"></i>
                </div>
            </div>
            <div class="tile-content">
                <p class="tile-title">{{ contact.firstname }} {{ contact.lastname }}</p>
                <p class="tile-title">{{ contact.email }}</p>
                <p class="tile-subtitle">{{ contact.message }}</p>
            </div>
            <div class="tile-action">
                <button class="btn btn-primary">Contacter</button>
            </div>
        </div>
        <div class="divider"></div>
    {% endfor %}

{% endblock %}