.footer
  display: flex
  justify-content: space-between
  padding: 0 20px
  @include medium
    padding: 0 50px
  @include large
    padding: 0 80px
  .cgu,
  .legalicy
    display: inline-block
    padding: 0 10px
    line-height: 88px
  a.legalicy
    text-decoration: underline
    font-weight: 300
