.section
  display: flex
  justify-content: space-between
  //padding: 0 0 0 80px

.section-img
  height: 27rem

.section__container
  padding: 20px
  @include medium
    padding: 80px 50px
  @include large
    padding: 80px 10%
  @include x-large
    width: 1280px
    max-width: 1280px
    padding: 80px 0
    margin: auto


.section__title
  position: relative
  padding: 0 0 1.5rem 0
  &:after
    content: ' '
    height: 3px
    width: 54px
    background: $brand-primary
    position: absolute
    bottom: 0
    left: 0

.section__subtitle
  width: 100%
  margin: 3.4rem 0 0 0
  @include medium
    width: 50%

.section__content
  display: flex
  margin: 3.75rem 0 0 0


////////////////////////
//// section contact ///
////////////////////////

.section__contact
  background: white



////////////////////////
//// section contact ///
////////////////////////

.section__partenaire
  .section__content
    position: relative
  .swipe
    width: 100%
    @include medium
      width: 70%
    @include large
      width: 40%
  .containerBubbles
    position: absolute
    right: 0
    @include medium
      position: relative
