{% extends 'base_front.html.twig' %}

{% block body %}

    <section class="blocPartenaire">
        <div class="swiper-container inner-shadow">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="slide__content">
                        <p class="slide__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab cum
                            deserunt distinctio, dolore ksjdbs dks dks dks sk dskd s.
                        </p>
                        <h1 class="slide__title">Le nom de la persoone</h1>
                        <h3 class="slide__subtitle"></h3>
                    </div>
                </div>
                <div class="swiper-slide">Slide 2</div>
                <div class="swiper-slide">Slide 3</div>
                <div class="swiper-slide">Slide 4</div>
                <div class="swiper-slide">Slide 5</div>
                <div class="swiper-slide">Slide 6</div>
                <div class="swiper-slide">Slide 7</div>
                <div class="swiper-slide">Slide 8</div>
                <div class="swiper-slide">Slide 9</div>
                <div class="swiper-slide">Slide 10</div>
            </div>

            <!-- If we need navigation buttons -->
            <div class="container-swiper-buttons">
                <div class="container-swiper-button-top">
                    <div class="swiper-button-prev"></div>
                </div>
                <div class="container-swiper-button-bottom">
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>

        <div class="containerBubbles">
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
        </div>
    </section>

    {{ render(controller('AppBundle:Contact:new')) }}
{% endblock %}
