{% extends 'base_front.html.twig' %}

{% block body %}
    {{ render(controller('AppBundle:Contact:new')) }}
    <div class="containerBubbles">
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
    </div>
{% endblock %}
