////////////
// colors //
////////////

$yellow: #ffb800
$grey: #203640
$grey-lighter: #f3f5f6

////////////
// fonts  //
////////////


/////////////////
// fonts-size  //
/////////////////

///////////////////
// Break points  //
///////////////////
$screen-sm-min: 768px
$screen-md-min: 1280px

///////////////////
//    Images     //
///////////////////
//$directory-image: 'https://s3.eu-west-2.amazonaws.com/'

///////////////////
//   z-index     //
///////////////////

